In [1]:
import pandas as pd

df_manuf_brecha = pd.read_csv('../results/bea/majority_owned_nonbank/brecha_productividad_manufacturing.csv',
                              sep=" ")
df_manuf_brecha.sample(4)

C:\Users\mateo\miniconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\mateo\miniconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\mateo\miniconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

,year,PT_arg,ppi_arg_99,ipt_arg_99,ipt_arg_99_index,country,PT_bench,ppi_bench_99,ipt_bench_99,ipt_bench_99_index,brecha_anio_base
268,2019,0.096176,54.267906,0.001772,0.018896,Portugal,0.065512,1.441231,0.045455,1.282077,NaN
223,2016,0.126243,18.905459,0.006678,0.071198,Norway,0.247246,1.745194,0.141673,0.701530,NaN
269,2019,0.096176,54.267906,0.001772,0.018896,Hungary,0.055372,1.716345,0.032262,1.734758,NaN
116,2008,0.166356,3.192289,0.052112,0.555625,Ireland,0.522292,0.937654,0.557020,2.804458,NaN

In [3]:
df = df_manuf_brecha.sort_values(by=['country', 'year'])


# Función para calcular la brecha
def calcular_brecha(row):
    if pd.notna(row['brecha_anio_base']):
        return row['brecha_anio_base']
    else:
        filtro_anterior = (df['year'] == row['year'] - 1) & (df['country'] == row['country'])
        if df[filtro_anterior].shape[0] > 0:
            brecha_anio_anterior = df.loc[filtro_anterior, 'brecha_calculada'].values[0]
            ipt_arg_ratio = row['ipt_arg_99_index'] / df.loc[filtro_anterior, 'ipt_arg_99_index'].values[0]
            ipt_bench_ratio = row['ipt_bench_99_index'] / df.loc[filtro_anterior, 'ipt_bench_99_index'].values[0]
            return brecha_anio_anterior * (ipt_arg_ratio / ipt_bench_ratio)
        else:
            return None

# Iterar sobre las filas y calcular las brechas
for index, row in df.iterrows():
    df.at[index, 'brecha_calculada'] = calcular_brecha(row)

# Agrupar por país y aplicar el cálculo
resultados_por_pais = pd.DataFrame()

for country, group_df in df.groupby('country'):
    group_df['brecha_calculada'] = group_df.apply(calcular_brecha, axis=1)
    resultados_por_pais = pd.concat([resultados_por_pais, group_df])

# Mostrar el DataFrame resultante
resultados_por_pais.head()

,year,PT_arg,ppi_arg_99,ipt_arg_99,ipt_arg_99_index,country,PT_bench,ppi_bench_99,ipt_bench_99,ipt_bench_99_index,brecha_anio_base,brecha_calculada
8,1999,0.093789,1.000000,0.093789,1.000000,Denmark,0.062606,1.000000,0.062606,1.000000,0.771395,0.771395
22,2000,0.093043,1.013537,0.091801,0.978799,Denmark,0.053716,1.047165,0.051296,0.819352,NaN,0.921508
35,2001,0.093562,1.009236,0.092706,0.988451,Denmark,0.048313,1.077496,0.044838,0.716200,NaN,1.064628
46,2002,0.046469,1.667082,0.027874,0.297203,Denmark,0.065838,1.087876,0.060520,0.966678,NaN,0.237164
60,2003,0.081966,1.910530,0.042902,0.457434,Denmark,0.067337,1.088337,0.061872,0.988270,NaN,0.357050

In [4]:
df.to_csv('../results/bea/majority_owned_nonbank/productivity_gap.csv',
          index   = False,
          sep=';', decimal=',')

In [4]:
resultados_por_pais[resultados_por_pais['country']=='Germany']

,year,PT_arg,ppi_arg_99,ipt_arg_99,ipt_arg_99_index,country,PT_bench,ppi_bench_99,ipt_bench_99,ipt_bench_99_index,brecha_anio_base,brecha_calculada
4,1999,0.093789,1.000000,0.093789,1.000000,Germany,0.103072,1.000000,0.103072,1.000000,0.468546,0.468546
17,2000,0.093043,1.013537,0.091801,0.978799,Germany,0.087448,1.031945,0.084741,0.822158,NaN,0.557816
29,2001,0.093562,1.009236,0.092706,0.988451,Germany,0.085477,1.043725,0.081897,0.794557,NaN,0.582885
42,2002,0.046469,1.667082,0.027874,0.297203,Germany,0.090013,1.045273,0.086115,0.835480,NaN,0.166675
55,2003,0.081966,1.910530,0.042902,0.457434,Germany,0.100932,1.047852,0.096322,0.934516,NaN,0.229348
70,2004,0.092130,2.014269,0.045739,0.487677,Germany,0.136417,1.060407,0.128646,1.248120,NaN,0.183075
83,2005,0.100456,2.180704,0.046066,0.491162,Germany,0.138754,1.078842,0.128614,1.247809,NaN,0.184429
95,2006,0.094810,2.394463,0.039595,0.422175,Germany,0.147035,1.099335,0.133749,1.297624,NaN,0.152439
109,2007,0.112625,2.660327,0.042335,0.451385,Germany,0.158735,1.119019,0.141852,1.376243,NaN,0.153675
121,2008,0.166356,3.192289,0.052112,0.555625,Germany,0.162017,1.146613,0.141300,1.370891,NaN,0.189903
134,2009,0.112739,3.520791,0.032021,0.341412,Germany,0.152322,1.115244,0.136581,1.325107,NaN,0.120720
146,2010,0.145287,4.297950,0.033804,0.360423,Germany,0.152518,1.144540,0.133257,1.292858,NaN,0.130621
160,2011,0.166171,5.236538,0.031733,0.338344,Germany,0.160376,1.184790,0.135362,1.313280,NaN,0.120713
177,2012,0.153833,6.268421,0.024541,0.261661,Germany,0.115558,1.203102,0.096050,0.931875,NaN,0.131563
188,2013,0.143722,7.732674,0.018586,0.198172,Germany,0.129379,1.200241,0.107794,1.045815,NaN,0.088785
201,2014,0.143567,10.961188,0.013098,0.139651,Germany,0.125820,1.197666,0.105054,1.019230,NaN,0.064199
215,2015,0.164030,13.579186,0.012080,0.128794,Germany,0.126325,1.197654,0.105477,1.023337,NaN,0.058970
227,2016,0.126243,18.905459,0.006678,0.071198,Germany,0.108599,1.189570,0.091293,0.885721,NaN,0.037664
241,2017,0.150447,22.723049,0.006621,0.070593,Germany,0.113820,1.212622,0.093863,0.910653,NaN,0.036321
253,2018,0.121335,36.167042,0.003355,0.035770,Germany,0.115039,1.230483,0.093491,0.907043,NaN,0.018478
267,2019,0.096176,54.267906,0.001772,0.018896,Germany,0.103595,1.241161,0.083466,0.809783,NaN,0.010933

In [6]:


# Assuming df_manuf_brecha is your DataFrame
# df_manuf_brecha_filled = df_manuf_brecha.sort_values(by=['country', 'year'])

# def calculate_brecha(row):
#     if row['year'] == 1999:
#         return row['brecha_anio_base']
#     else:
#         previous_value = df_manuf_brecha_filled.loc[
#             (df_manuf_brecha_filled['country'] == row['country']) & (df_manuf_brecha_filled['year'] == row['year'] - 1),
#             'brecha_anio_base'
#         ].values
#         return previous_value * (row['ipt_arg_99_index'] / df_manuf_brecha_filled.loc[
#             (df_manuf_brecha_filled['country'] == row['country']) & (df_manuf_brecha_filled['year'] == row['year'] - 1),
#             'ipt_arg_99_index'
#         ].values) / (row['ipt_bench_99_index'] / df_manuf_brecha_filled.loc[
#             (df_manuf_brecha_filled['country'] == row['country']) & (df_manuf_brecha_filled['year'] == row['year'] - 1),
#             'ipt_bench_99_index'
#         ].values)

# df_manuf_brecha_filled['brecha_anio_base_filled'] = df_manuf_brecha_filled.apply(calculate_brecha, axis=1)
# # df_manuf_brecha_filled['brecha_anio_base_filled_2'] = calculate_brecha(df_manuf_brecha_filled)
# # Check the resulting DataFrame
# df_manuf_brecha_filled.head()

In [7]:
# def calculate_brecha_without_country(row):
#     if row['year'] == 1999:
#         return row['brecha_anio_base']
#     else:
#         previous_value = df_manuf_brecha_filled.loc[df_manuf_brecha_filled['year'] == row['year'] - 1,
#                                                     'brecha_anio_base'].values
#         return previous_value * (row['ipt_arg_99_index'] / 
#                                  df_manuf_brecha_filled.loc[df_manuf_brecha_filled['year'] == row['year'] - 1,
#                                                             'ipt_arg_99_index'].values) / (
#                                 row['ipt_bench_99_index'] / 
#                                 df_manuf_brecha_filled.loc[df_manuf_brecha_filled['year'] == row['year'] - 1,
#             'ipt_bench_99_index'
#         ].values)

# # df_manuf_brecha_filled['brecha_anio_base_filled'] = df_manuf_brecha_filled.groupby('country',as_index=False).\
# #     apply(calculate_brecha)
# df_manuf_brecha_filled['brecha_anio_base_filled_2'] = calculate_brecha(df_manuf_brecha_filled)
# # Check the resulting DataFrame
# df_manuf_brecha_filled.head()

In [8]:
# 0.5*(df_manuf_brecha['ipt_arg_99_index'] / df_manuf_brecha_filled.loc[
#             (df_manuf_brecha_filled['country'] == 'Germany') & (df_manuf_brecha_filled['year'] == 2000 - 1),
#             'ipt_arg_99_index'
#         ].values) / (df_manuf_brecha['ipt_bench_99_index'] / df_manuf_brecha_filled.loc[ 
#             (df_manuf_brecha_filled['country'] == 'Germany') & (df_manuf_brecha_filled['year'] == 2000 - 1),
#             'ipt_bench_99_index'
#         ].values)

In [9]:
# def variacion_absoluta(df, variable, base ):
#   if df['year'] == base:
#     return df[variable]
#   else:
#     previous_value = df.loc[(df['country'] == df['country']) & (df_manuf_brecha_filled['year'] == row['year'] - 1),
#             'brecha_anio_base'
#         ].values
#   return x - x.shift(1)


# df_manuf_brecha_filled['brecha_anio_base_filled'] = variacion_absoluta(df_filtrado["reservas_internacionales_dolares"])

In [10]:
# def calculate_brecha_recursiva(column, anio_base):
#     if